<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vote.mapper.CandidateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vote.entity.Candidate">
        <id column="id" property="id" />
        <result column="voting_topic_id" property="votingTopicId" />
        <result column="candidate_full_name" property="candidateFullName" />
        <result column="id_number" property="idNumber" />
        <result column="candidate_nickname" property="candidateNickname" />
        <result column="age" property="age" />
        <result column="gender" property="gender" />
        <result column="campaign_slogan" property="campaignSlogan" />
        <result column="add_time" property="addTime" />
    </resultMap>

</mapper>
