<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vote.mapper.SysSettingsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vote.entity.SysSettings">
        <id column="id" property="id" />
        <result column="group_code" property="groupCode" />
        <result column="field_name" property="fieldName" />
        <result column="field_value" property="fieldValue" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
